{% extends 'app_main/layout.html' %}

{% load static %}

{% block title %}Создание формы{% endblock %}

{% block js %}
<script type="text/javascript" src={% static "app_main/js/jquery-3.6.0.min.js" %}></script>
<script type="text/javascript" src={% static "app_main/js/app_main-index.js" %}></script>
{% endblock %}

{% block content %}


<center>
	<form method="post" id="wbform">
		{% csrf_token %}
		Дата: {{ head_form.date}}
		<br><br>
		Вид	транспортного средства <input id="tr_name" placeholder="Заполняется автоматически" type="text" size=50> № {{ head_form.transport}}
		<br><br>
		<!--Время при прибытии-->
		<div id="form_to_clone">
			Время при прибытии: {{ ride_form.time_in}}
			<br><br>
			<!--Время при убытии-->
			Время при убытии: {{ ride_form.time_out}}
			<br><br>
			<!--Группа расходов-->
			Группа расходов: {{ ride_form.expense_group}}
			<br><br>
			<!--Объект; Характер (описание) работ (услуг); Вид работ (услуг) № заказ-наряда и дефектной ведомости-->
			Номер маршрута: {{ ride_form.route }}<br><br>
			Описание: <textarea class="table_center_field" id="route_desc" placeholder="*Описание*. Заполняется автоматически при выборе маршрута" type="text" cols="35" rows="3"></textarea>
			<br><br>
			<!--Подразделение (цех, отдел, и т.п.)-->
			Подразделение: {{ ride_form.unit}}
		</div>
		<div id="paste_form_here">

		</div>
		<br><br>
		<div class="buttons">
			<ul>
				<li><button id="b_add" class="btn btn-warning" type="submit">Добавить строку</button></li>
				<li><button id="b_remove" class="btn btn-warning" type="submit">Удалить строку</button></li>
				<li><button id="b_submit" class="btn btn-success" type="submit">Создать и распечатать форму</button></li>
			</ul>
		</div>

	</form>
</center>



{% endblock %}