{% extends 'app_main/layout.html' %}

{% load static %}

{% block title %}Создание формы{% endblock %}

{% block js %}
    <script type="text/javascript" src={% static "app_main/js/jquery-3.6.0.min.js" %}></script>
    <script type="text/javascript" src={% static "app_main/js/app_main-index.js" %}></script>
{% endblock %}

{% block content %}
    
    <form method="post">
        <div class="wbform" id="wbform">
            {% csrf_token %}            
            Дата: {{ head_form.date}}<br><br>
            <div id="wb_tr">Транспорт: {{ head_form.transport}}<br><br></div>

            <div id="form_to_clone">
                {{ ride_formset.as_p}}
                <hr />
            </div>
            <div id="paste_form_here">

            </div>
            <span>{{ error }}</span>
            <div class="buttons">
                <ul>
                    <li><button id="b_submit" class="btn btn-success" type="submit">Создать маршрутный лист</button></li>
                    <li><input id="b_add" type="button" value="+" name="add"></li>
                    <li><input id="b_remove" type="button" value="-" name="remove"></li>
                </ul>
            </div>
        </div>        
    </form>
	
	<P CLASS="western" ALIGN=RIGHT STYLE="margin-bottom: 0in">Приложение
	№ 1 к приказу № 505 от 31.08.2012</P>
	<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><BR>
	</P>
	<P CLASS="western" ALIGN=RIGHT STYLE="margin-bottom: 0in"><BR>
	</P>
	<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT SIZE=5 STYLE="font-size: 20pt">Маршрутный
	лист к путевому листу №________________</FONT></P>
	<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><BR>
	</P>
	<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT SIZE=4>На</FONT></P>
	<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT SIZE=4>Исполнитель
	__ООО ГК «Альтекс»</FONT></P>
	<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><BR>
	</P>
	<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT SIZE=4>Вид
	транспортного средства ____
	НЕФАЗ-5299-0000030-56       №</FONT></P>
	<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><BR>
	</P>
	<TABLE WIDTH=1039 CELLPADDING=7 CELLSPACING=0>
		<COL WIDTH=30>
		<COL WIDTH=47>
		<COL WIDTH=49>
		<COL WIDTH=45>
		<COL WIDTH=47>
		<COL WIDTH=81>
		<COL WIDTH=276>
		<COL WIDTH=42>
		<COL WIDTH=70>
		<COL WIDTH=108>
		<COL WIDTH=88>
		<TR VALIGN=TOP>
			<TD ROWSPAN=2 WIDTH=30 HEIGHT=14 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western" ALIGN=CENTER>№ п/п</P>
			</TD>
			<TD COLSPAN=2 WIDTH=110 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western" ALIGN=CENTER>Время работы</P>
			</TD>
			<TD COLSPAN=2 WIDTH=106 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western" ALIGN=CENTER>Показания спидометра</P>
			</TD>
			<TD ROWSPAN=2 WIDTH=81 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western" ALIGN=CENTER>Группа расходов</P>
			</TD>
			<TD ROWSPAN=2 WIDTH=276 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<OL>
					<LI><P CLASS="western" STYLE="margin-bottom: 0in">Объект</P>
					<LI><P CLASS="western" STYLE="margin-bottom: 0in">Характер
					(описание) работ (услуг)</P>
					<LI><P CLASS="western" STYLE="margin-bottom: 0in">Вид работ
					(услуг)</P>
					<LI><P CLASS="western">№ заказ-наряда и дефектной
					ведомости</P>
				</OL>
			</TD>
			<TD ROWSPAN=2 WIDTH=42 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western" ALIGN=CENTER>Подразделение (цех,
				отдел, и т.п.)</P>
			</TD>
			<TD ROWSPAN=2 WIDTH=70 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western" ALIGN=CENTER>Подпись</P>
			</TD>
			<TD ROWSPAN=2 WIDTH=108 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western" ALIGN=CENTER>Расшифровка подписи</P>
			</TD>
			<TD ROWSPAN=2 WIDTH=88 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western" ALIGN=CENTER>Примечание</P>
			</TD>
		</TR>

		<TR>
			<TD WIDTH=47 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">При
				прибы-</P>
				<P CLASS="western" ALIGN=CENTER>тии</P>
			</TD>
			<TD WIDTH=49 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western" ALIGN=CENTER>При убытии</P>
			</TD>
			<TD WIDTH=45 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western" ALIGN=CENTER>При прибы-тии</P>
			</TD>
			<TD WIDTH=47 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western" ALIGN=CENTER>При убытии</P>
			</TD>
		</TR>

		<TR VALIGN=TOP>
			<TD WIDTH=30 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western" ALIGN=CENTER>1</P>
			</TD>
			<TD WIDTH=47 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western" ALIGN=CENTER>2</P>
			</TD>
			<TD WIDTH=49 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western" ALIGN=CENTER>3</P>
			</TD>
			<TD WIDTH=45 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western" ALIGN=CENTER>4</P>
			</TD>
			<TD WIDTH=47 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western" ALIGN=CENTER>5</P>
			</TD>
			<TD WIDTH=81 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western" ALIGN=CENTER>6</P>
			</TD>
			<TD WIDTH=276 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western" ALIGN=CENTER>7</P>
			</TD>
			<TD WIDTH=42 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western" ALIGN=CENTER>8</P>
			</TD>
			<TD WIDTH=70 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western" ALIGN=CENTER>9</P>
			</TD>
			<TD WIDTH=108 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western" ALIGN=CENTER>10</P>
			</TD>
			<TD WIDTH=88 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western" ALIGN=CENTER>11</P>
			</TD>
		</TR>

		<TR VALIGN=TOP>
			<TD WIDTH=30 HEIGHT=62 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western"><BR>
				</P>
			</TD>
			<TD WIDTH=47 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western"><BR>
				</P>
			</TD>
			<TD WIDTH=49 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western"><BR>
				</P>
			</TD>
			<TD WIDTH=45 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western"><BR>
				</P>
			</TD>
			<TD WIDTH=47 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western"><BR>
				</P>
			</TD>
			<TD WIDTH=81 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western"></P>
			</TD>
			<TD WIDTH=276 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western">.</P>
			</TD>
			<TD WIDTH=42 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western" ALIGN=CENTER><BR>
				</P>
			</TD>
			<TD WIDTH=70 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western"><BR>
				</P>
			</TD>
			<TD WIDTH=108 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western"> 
				</P>
			</TD>
			<TD WIDTH=88 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P CLASS="western"><BR>
				</P>
			</TD>
		</TR>

    

{% endblock %}