{% extends 'app_main/layout.html' %}

{% load static %}

{% block title %}Создание формы{% endblock %}

{% block js %}
<script type="text/javascript" src={% static "app_main/js/jquery-3.6.0.min.js" %}></script>
<script type="text/javascript" src={% static "app_main/js/app_main-print.js" %}></script>
{% endblock %}

{% block content %}


<center id="print_table">
        {% csrf_token %}
        <P CLASS="western" id="application" STYLE="margin-bottom: 0in">
            Приложение
            № 1 к приказу № 505 от 31.08.2012
        </P>
        <P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
            <BR>
        </P>
        <P CLASS="western" ALIGN=RIGHT STYLE="margin-bottom: 0in">
            <BR>
        </P>
        <P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
            <FONT SIZE=5 STYLE="font-size: 20pt">
                Маршрутный
                лист к путевому листу №________________
            </FONT>
        </P>
        <P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
            <BR>
        </P>
        <P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT SIZE=4>На {{ date }} </FONT></P>
        <P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
            <FONT SIZE=4>
                Исполнитель
                __ООО ГК «Альтекс»
            </FONT>
        </P>
        <P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
            <BR>
        </P>
        <P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT SIZE=4>Вид	транспортного средства {{ transport }}</FONT></P>
        <P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
            <BR>
        </P>
        <TABLE WIDTH=1300 CELLPADDING=7 CELLSPACING=0 media="print">
            <TR VALIGN=TOP>
                <TD ROWSPAN=2 WIDTH=75 HEIGHT=14 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western" ALIGN=CENTER>№ п/п</P>
                </TD>
                <TD COLSPAN=2 WIDTH=110 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western" ALIGN=CENTER>Время работы</P>
                </TD>
                <TD COLSPAN=2 WIDTH=106 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western" ALIGN=CENTER>Показания спидометра</P>
                </TD>
                <TD ROWSPAN=2 WIDTH=81 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western" ALIGN=CENTER>Группа расходов</P>
                </TD>
                <TD ROWSPAN=2 WIDTH=276 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <OL type="1" start="1">
                        <LI><P CLASS="western" STYLE="margin-bottom: 0in">Объект</P>
                        <LI><P CLASS="western" STYLE="margin-bottom: 0in">Характер (описание) работ (услуг)</P>
                        <LI><P CLASS="western" STYLE="margin-bottom: 0in">Вид работ (услуг)</P>
                        <LI>
                            <P CLASS="western">
                                № заказ-наряда и дефектной
                                ведомости
                            </P>
                    </OL>
                </TD>
                <TD ROWSPAN=2 WIDTH=42 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western" ALIGN=CENTER>
                        Подразделение (цех,
                        отдел, и т.п.)
                    </P>
                </TD>
                <TD ROWSPAN=2 WIDTH=70 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western" ALIGN=CENTER>Подпись</P>
                </TD>
                <TD ROWSPAN=2 WIDTH=108 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western" ALIGN=CENTER>Расшифровка подписи</P>
                </TD>
                <TD ROWSPAN=2 WIDTH=88 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western" ALIGN=CENTER>Примечание</P>
                </TD>
            </TR>

            <TR>
                <TD WIDTH=47 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
                        При
                        прибы-
                    </P>
                    <P CLASS="western" ALIGN=CENTER>тии</P>
                </TD>
                <TD WIDTH=49 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western" ALIGN=CENTER>При убытии</P>
                </TD>
                <TD WIDTH=45 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western" ALIGN=CENTER>При прибы-тии</P>
                </TD>
                <TD WIDTH=47 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western" ALIGN=CENTER>При убытии</P>
                </TD>
            </TR>

            <TR VALIGN=TOP>
                <TD STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western" ALIGN=CENTER>1</P>
                </TD>
                <TD STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western" ALIGN=CENTER>2</P>
                </TD>
                <TD STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western" ALIGN=CENTER>3</P>
                </TD>
                <TD STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western" ALIGN=CENTER>4</P>
                </TD>
                <TD STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western" ALIGN=CENTER>5</P>
                </TD>
                <TD STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western" ALIGN=CENTER>6</P>
                </TD>
                <TD STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western" ALIGN=CENTER>7</P>
                </TD>
                <TD STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western" ALIGN=CENTER>8</P>
                </TD>
                <TD STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western" ALIGN=CENTER>9</P>
                </TD>
                <TD STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western" ALIGN=CENTER>10</P>
                </TD>
                <TD STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western" ALIGN=CENTER>11</P>
                </TD>
            </TR>

            {% for r in rides %}
            <TR VALIGN=TOP id="form_to_clone">
                <TD HEIGHT=62 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western">
                        <BR>
                        <!--№ п/п-->
                    </P>
                </TD>
                <TD STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western">
                        <BR>
                        <!--Время при прибытии-->
                        {{ r.time_in}}
                    </P>
                </TD>
                <TD STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western">
                        <BR>
                        <!--Время при убытии-->
                        {{ r.time_out}}
                    </P>
                </TD>
                <TD STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western">
                        <BR>
                        <!--Показания спидометра при прибытии-->
                    </P>
                </TD>
                <TD STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western">
                        <BR>
                        <!--Показания спидометра при убытии-->
                    </P>
                </TD>
                <TD STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western">
                        <BR>
                        <!--Группа расходов-->
                        {{ r.expense_group}}
                    </P>
                </TD>
                <TD STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western">
                        <BR>
                        <!--Объект; Характер (описание) работ (услуг); Вид работ (услуг) № заказ-наряда и дефектной ведомости-->
                        {{ r.desc }}<br>                        
                    </P>
                </TD>
                <TD STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western">
                        <!--Подразделение (цех, отдел, и т.п.)-->
                        <br>
                        {{ r.unit}}
                    </P>
                </TD>
                <TD STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western">
                        <BR>
                        <!--Подпись-->
                    </P>
                </TD>
                <TD STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western">
                        <!--Расшифровка подписи-->
                    </P>
                </TD>
                <TD STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P CLASS="western">
                        <BR>
                        <!--Примечаниие-->
                    </P>
                </TD>
            </TR>
            {% endfor %}
            <tr id="paste_form_here"></tr>
        </TABLE>
        <div class="buttons no_print">
            <ul>
                <li><button id="b_print" class="btn btn-success">Печать</button></li>
                <li><a href="{% url 'main' %}" class="btn btn-warning">На главную</a></li>
                
            </ul>
        </div>
</center>



{% endblock %}