.wbform {
    font-size: 20px;
    padding: 20px;
    border: solid black;
    border-radius: 20px;
    background: #ffeca4;
    width: 520px;
    margin: 0 auto;
    height: auto;
    text-align: right;  
}

.buttons {
    text-align: center;
    width: auto;
    height: auto;
    padding: 20px;
}

hr {
    border:solid black;
    border-width: 2px;
}

.print-wbform {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 4px;
}

.print-wbform li {
    display: inline;
    margin-right: 5px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */
}