ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
}


li {
    display: inline;
    margin-inline: 7px;
}


tr {
    height: 35px;
}


.buttons {
    text-align: center;
    width: auto;
    height: auto;
    padding: 20px;
}


.table_center_field {
    width: 400px;
}

#ride_form, #form_head {
    max-width: 500px;
    background-color: #fced8d;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 20px;
    padding: 15px;
}


#ride_other {
    text-align: right;
}


#b_submit {
    margin-inline: 70px;
}


#application {
    text-align: right;
}


@media print {
    .no_print, .no_print * {
        display: none !important;
    }
}

